.footer {
    margin: 0 auto;
    max-width: 882px;
    padding: 67px 0px 104px 0px;
  }
  .footer__text {
    margin: 0px;
    font-size: 14px;
    line-height: 1;
    color: #545454;
  }
  @media screen and (min-width: 320px) and (max-width: 881px) {
    .footer {
      padding-bottom: 50px;
    }
    .footer__text {
      text-align: center;
      margin: 0 auto;
    }
  }
  